{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 54.1988997,
    "longitude": 19.4410857,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Dom",
    "time_zone": "Europe/Warsaw",
    "external_url": null,
    "internal_url": null,
    "currency": "PLN",
    "country": "PL",
    "language": "pl",
    "radius": 100
  }
}